.app-header {
  text-align: center;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.markdown-content {
  padding-top: 30px;
  white-space: pre-wrap;
  font-size: 0.9em;
  font-weight: 400;
}

.loader-content {
  text-align: center;
  margin-top: 15px;
}

.actions {
  margin: 5px auto;
}

@media print {
  body {
    width: 960px;
  }
  .app-header {
    display: none;
  }
}
