.app-header {
  text-align: center;
}

.App {
  width: 960px;
  margin: 0 auto;
}

.markdown-content {
  padding-top: 20px;
  overflow: hidden;
}

@media print {
  .app-header {
    display: none;
  }
}
