.app-header {
  text-align: center;
}

.App {
  width: 960px;
  margin: 0 auto;
}

.markdown-content {
  padding-top: 20px;
  white-space: pre-wrap;
  font-size: 0.9em;
}

.loader-content {
  text-align: center;
  margin-top: 15px;
}

@media print {
  .app-header {
    display: none;
  }
}
